streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

chromadb==0.5.5

pypdf
numpy
pandas
sentence-transformers
huggingface-hub

groq
rich
Pillow>=11.3.0

protobuf==4.25.3
