streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

chromadb==0.5.5

pypdf
numpy
pandas
sentence-transformers
huggingface-hub

groq
rich
Pillow

protobuf==3.20.3
